<h2>Mys Heroesinos</h2>

<div>
    <label>Hero nombre:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">Adicionar</button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
      <span class="badge">{{hero.codigo}}</span> 
        <span>{{hero.nombre}}</span>
        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>{{selectedHero.nombre | uppercase}} is mi heroeino</h2>
    <button (click)="gotoDetail()">Ver detalles de heroeino</button>
</div>
